.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;
  background: #31572c;
}

.drop-down {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  width: 400px;
  background: #4f772d;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.drop-down:hover {
  filter: drop-shadow(0 0 0.5rem #132a13);
}

.drop-down-menu {
  height: 200px;
  width: 420px;
  background: #90a955;
  border-radius: 10px;
  position: absolute;
}

.drop-down-menu:hover {
  filter: drop-shadow(0 0 0.1rem #ecf39e);
}
