.wrapper {
  margin-bottom: 100px;
}

h4 {
  font-weight: 400;
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: -230px;
  justify-content: space-evenly;
}

.dark-theme {
  width: 200px;
  border-radius: 30px;
  border: none;
  background: #111111;
  color: white;
  font-size: 15px;
}

.dark-theme:hover {
  background: #232323;
}

.green-theme {
  width: 200px;
  border-radius: 30px;
  border: none;
  background: #4f772d;
  color: white;
  font-size: 15px;
}

.green-theme:hover {
  background: #6ca03f;
}

.halloween-theme {
  width: 200px;
  border-radius: 30px;
  border: none;
  background: #eb5e28;
  color: white;
  font-size: 15px;
}

.halloween-theme:hover {
  background: #6ca03f;
}

ul {
  list-style-type: none;
  overflow-y: scroll;
  height: 200px;
  margin-top: 0;
  font-size: 22px;
  padding-left: 0px;
}
::-webkit-scrollbar {
  display: none;
}

.list-item {
  margin: 0px 0px 0px 10px;
}
